body {
    background-color: #6495ED;
    width: 200px; 
    margin: auto;
    top: auto;
    left: auto;


  }


h2 {
    color: #360830;
    text-align: center;
  }


form {
    width: 200px; 
    margin: auto;
    top: auto;
    left: auto;
    background-color: rgb(228, 213, 12);
    font-size: 150%;
    border:5px solid rgb(34, 241, 7);
    padding: 5px 5px;
    text-align: center;
  }

tr {

    color: #200716;
    text-align: center;

  }